[submodule "plugins/vim-pathogen"]
	path = plugins/vim-pathogen
	url = git://github.com/chenjianlong/vim-pathogen

[submodule "plugins/vim-template"]
	path = plugins/vim-template
	url = git://github.com/chenjianlong/vim-template

[submodule "plugins/vim-project"]
	path = plugins/vim-project
	url = git://github.com/chenjianlong/vim-project

[submodule "plugins/vim-taglist"]
	path = plugins/vim-taglist
	url = git://github.com/chenjianlong/vim-taglist

[submodule "plugins/vim-tagbar"]
	path = plugins/vim-tagbar
	url = git://github.com/chenjianlong/vim-tagbar

[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = git://github.com/chenjianlong/nerdtree

[submodule "plugins/vim-go"]
	path = plugins/vim-go
	url = git://github.com/chenjianlong/vim-go

[submodule "plugins/YouCompleteMe"]
	path = plugins/YouCompleteMe
	url = git://github.com/chenjianlong/YouCompleteMe
