[submodule "plugins/vim-pathogen"]
	path = plugins/vim-pathogen
	url = git://github.com/chenjianlong/vim-pathogen

[submodule "plugins/vim-template"]
	path = plugins/vim-template
	url = git://github.com/chenjianlong/vim-template

[submodule "plugins/vim-project"]
	path = plugins/vim-project
	url = git://github.com/chenjianlong/vim-project

[submodule "plugins/vim-taglist"]
	path = plugins/vim-taglist
	url = git://github.com/chenjianlong/vim-taglist

[submodule "plugins/vim-tagbar"]
	path = plugins/vim-tagbar
	url = git://github.com/chenjianlong/vim-tagbar

[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = git://github.com/chenjianlong/nerdtree

[submodule "plugins/vim-go"]
	path = plugins/vim-go
	url = git://github.com/chenjianlong/vim-go

[submodule "plugins/YouCompleteMe"]
	path = plugins/YouCompleteMe
	url = git://github.com/chenjianlong/YouCompleteMe

[submodule "plugins/vim-flake8"]
	path = plugins/vim-flake8
	url = git://github.com/chenjianlong/vim-flake8

[submodule "plugins/solarized"]
	path = plugins/solarized
	url = git://github.com/chenjianlong/solarized

[submodule "plugins/vim-airline"]
	path = plugins/vim-airline
	url = git://github.com/chenjianlong/vim-airline

[submodule "plugins/vim-fugitive"]
	path = plugins/vim-fugitive
	url = git://github.com/chenjianlong/vim-fugitive

[submodule "plugins/ctrlp.vim"]
	path = plugins/ctrlp.vim
	url = git://github.com/chenjianlong/ctrlp.vim

[submodule "plugins/tabular"]
	path = plugins/tabular
	url = git://github.com/chenjianlong/tabular
